* {
	box-sizing: border-box;
}

body {
	background-color: #bfbfbf;
	text-align: center;
	margin: 0 auto; 
}

h2 {
	margin-bottom: 10px;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
	font-size: 1.2rem;
}

li:nth-child(5n+1) {
	text-decoration: underline;
	font-size: 2rem;
	padding: 5px 0;
}

li:nth-child(5n+5) {
	margin-bottom: 20px;
}